In [2]:
%%bigquery
select * from rc_fin_test_tables.credit_card_info;

Query complete after 0.01s: 100%|██████████| 1/1 [00:00<00:00, 444.31query/s]
Downloading: 100%|██████████| 4/4 [00:00<00:00,  4.60rows/s]

   customer_id       card_number customer_name       card_issuer   expiry_dt
0         9345  6782855463100418        Camron          Discover  2023-04-30
1          544  3782822463100115         Tasha  American Express  2023-01-31
2          934  5782844463100317     Nathanael        Mastercard  2023-01-31
3          933  4782833463100216        Raynor              Visa  2023-03-31

In [3]:
%%bigquery df_card_details
select * from rc_fin_test_tables.credit_card_info;

Query complete after 0.00s: 100%|██████████| 1/1 [00:00<00:00, 694.08query/s]
Downloading: 100%|██████████| 4/4 [00:01<00:00,  3.44rows/s]

In [4]:
df_card_details.head(2)

   customer_id       card_number customer_name       card_issuer   expiry_dt
0         9345  6782855463100418        Camron          Discover  2023-04-30
1          544  3782822463100115         Tasha  American Express  2023-01-31